/*!
 *
 * Quickstart CSS by h8rt3rmin8r
 *
 */

@-ms-viewport {
    width: device-width;
}

.card {
    box-sizing: border-box;
    box-shadow: 2px 3px 4px #000000;
}

* {
    box-sizing: border-box;
}

header {
    background: white;
}

h1 {
    font-style: normal;
}

h2 {
    font-style: normal;
}

h3 {
    font-style: normal;
}

h4 {
    font-style: normal;
}

p {
    font-style: normal;
}


/* STICKY FOOTER STYLES -------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
    background: rgb(79, 39, 122);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: white;
}

.jumbotron {
    background-color: white !important;
}
